/* Estilo básico para o corpo */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #000000, #4e0058);
    color: rgb(10, 9, 9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
 
/* Estilo para o título */
h1 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
 
/* Estilo para o formulário */
form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/* Estilo para os labels */
label {
    font-size: 1.1em;
    color: rgb(12, 9, 9);
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}
 
/* Estilo para o input de texto */
input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1em;
    transition: border-color 0.3s;
}
 
input[type="text"]:focus {
    border-color: #060706;
    outline: none;
}
 
/* Estilo para o botão */
button {
    background-color: #03132e;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s, transform 0.3s;
}
 
button:hover {
    background-color: #8c2fe4;
    transform: translateY(-2px);
}
 
/* Estilo para a mensagem */
#message {
    margin-top: 20px;
    font-size: 1.1em;
    color: rgb(226, 7, 7);
    text-align: center;
}